html, body {
	height: 100%;
}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
	background: white;
	font-family: Helvetica;
	font-size: 18px;
	color: black;
}

#datasrc {
	display: none;
}

#canvas {
	padding: 0;
	margin: 0;
}